.forgotPageContainer {
    /* background-color: #DFDFDF; */
    width: 100%;
    height: 100%;
    position: absolute;
}

.boxContainerRight {
    position: absolute;
    width: 55%;
    left: 45%;
    height: 100%;
}

.boxForgot {
    /* background-color: white; */
    border: 3px solid #D3DCFF;
    position: absolute;
    width: 60%;
    height: 35%;
    border-radius: 2%;
    top: 30%;
    left: 20%;
}

.boxForgotTitle {
    text-align: center;
    font-family: Amoreiza;
    font-size: 200%;
    font-weight: bold;
    color: #D3DCFF;
    top: 0%;
}

.boxForgotInputTitle {
    position: absolute;
    font-family: Amoreiza;
    font-size: 120%;
    font-weight: bold;
    color: #D3DCFF;
    left: 10%;
    top: 30%;
}

.boxForgotButtonSendEmail {
    position: relative;
    width: 21.5%;
    left: 41%;
    top: 37%;
};

.boxForgotButtonSendEmail:hover {
    cursor: pointer;
}

.boxForgotSendEmail {
    font-family: Amoreiza;
    font-size: 145%;
    font-weight: bold;
    color: #D3DCFF;
    user-select: none;
}

.boxForgotButtonRemember {
    position: absolute;
    width: 18%;
    left: 10%;
    top: 83%;
}

.boxForgotButtonRemember:hover {
    cursor: pointer;
}

.boxForgotRemember {
    font-family: Amoreiza;
    font-size: 120%;
    font-weight: bold;
    color: #D3DCFF;
    user-select: none;
}