.leftContainer {
    /* background-color: brown; */
    position: absolute;
    width: 45%;
    height: 100%;
}

.logoContainer {
    /* background-color: blue; */
    position: absolute;
    width: 65%;
    height: 35%;
    top: 25%;
    left: 23%;
}

.logo {
    width: 100%;
    height: 100%;
}

.descriptionContainer {
    overflow-wrap: break-word;
    /* background-color: green; */
    position: absolute;
    width: 45%;
    height: 20%;
    top: 55%;
    left: 33%;
}

.description {
    font-family: Amoreiza;
    font-size: 26px;
    color: #D3DCFF;
    font-weight: bold;
}