body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Amoreiza';
  src: local('amoreiza-regular'), url(./assets/fonts/amoreiza-regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Atomsfer';
  src: local('Atomsfer'), url(./assets/fonts/Atomsfer.ttf) format('truetype');
}